POSTGRES_USER=postgres
POSTGRES_PASSWORD=8819
POSTGRES_DB=burger

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public

JWT_SECRET_KEY=secreto
JWT_ACCESS_TIME=10m
JWT_REFRESH_TIME=1h
JWT_CONFIRM_TIME=99999999999999h

# S3 AMAZON

AWS_BUCKET_REGION=sa-east-1
AWS_ACCESS_KEY_ID=secreto
AWS_SECRET_ACCESS_KEY=secreto
AWS_BUCKET_NAME=api-burger